#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&mo 1         &kp SLASH     &kp ASTERISK  &kp MINUS
&kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS
&kp NUMBER_4  &kp N5        &kp NUMBER_6
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ENTER
&kp NUMBER_0                &kp DOT
            >;
        };

        layer_1 {
            bindings = <
&trans            &kp EQUAL  &kp DOLLAR   &kp DELETE
&kp K_CALCULATOR  &trans     &trans       &trans
&trans            &trans     &trans
&trans            &trans     &sys_reset   &trans
&trans                       &bootloader
            >;
        };
    };
};
